body {
  /* background-color: rgb(0, 174, 255); */
}

.App {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 0 0;
  background-color: #ecf3f3;
}

.bg {
  background-color: purple;
}

@media (min-width: 300px) and (max-width: 1056px) {
  .App {
    width: auto;
    max-width: none;
  }
}
